<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncut.ssm.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.ncut.ssm.pojo.Teacher" >
    <id column="teacherid" property="teacherid" jdbcType="INTEGER" />
    <result column="teachernum" property="teachernum" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    teacherid, teachernum, password, name, sex, age, phone, email, adress
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where teacherid = #{teacherid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teacher
    where teacherid = #{teacherid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ncut.ssm.pojo.Teacher" >
    insert into teacher (teacherid, teachernum, password, 
      name, sex, age, phone, 
      email, adress)
    values (#{teacherid,jdbcType=INTEGER}, #{teachernum,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{adress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ncut.ssm.pojo.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherid != null" >
        teacherid,
      </if>
      <if test="teachernum != null" >
        teachernum,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="adress != null" >
        adress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherid != null" >
        #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="teachernum != null" >
        #{teachernum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncut.ssm.pojo.Teacher" >
    update teacher
    <set >
      <if test="teachernum != null" >
        teachernum = #{teachernum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        adress = #{adress,jdbcType=VARCHAR},
      </if>
    </set>
    where teacherid = #{teacherid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncut.ssm.pojo.Teacher" >
    update teacher
    set teachernum = #{teachernum,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      adress = #{adress,jdbcType=VARCHAR}
    where teacherid = #{teacherid,jdbcType=INTEGER}
  </update>

  <select id="getTeacherByNum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from teacher
    where teachernum = #{teacherNum,jdbcType=VARCHAR}
  </select>

  <select id="getTeacherByCurrentPage" parameterType="HashMap" resultMap="BaseResultMap">
    select * from teacher
    where teacherid limit #{currentpage},#{pagecount}
  </select>
  <select id="getAllTeacherCount" resultType="java.lang.Integer">
    select COUNT(teacherid) from teacher
  </select>

  <select id="getTeacherListByNum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from teacher
    where teachernum = #{teacherNum,jdbcType=VARCHAR}
  </select>

</mapper>